.first-part {
    display: flex;
    background-color:  rgba(229, 84, 115, 0.10);
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.head-text {
    max-width: 500px;
    text-align: center;
    flex-direction: column;
}
.img {
    width: 640px;
    height: 800px;
}
.greeting {
    font-size: 40px;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 20px;
    display: flex;
    font-family: Lato;
width: 708px;
flex-direction: column;
flex-shrink: 0;
color: #272727;
font-family: Lato;
font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.btn {
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
padding: 20px 43px;
gap: 10px;
border: none;
margin-bottom: 10px;
cursor: pointer;
}
.text {
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 30px;
text-align: left;
margin-left: 20px;
}
.greeting2 {
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.text2{
    margin-left: 450px;
    margin-top: 10px;
    display: flex;
width: 594px;
flex-direction: column;
flex-shrink: 0;
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.flowers {
    display: flex;
    
}
.pink {
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    width: 300px;
height: 400px;
flex-shrink: 0;
margin-left: 300px;
}
.mixed{
    background: rgba(5, 151, 160, 0.15);
    margin-left: 20px;
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    width: 300px;
height: 400px;
flex-shrink: 0;
}
.yellow {
    background: rgba(71, 125, 17, 0.15);
    margin-left: 20px;
    width: 314px;
    height: 471px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    width: 300px;
height: 400px;
flex-shrink: 0;
}
.span {
    color: #E55473;
}
.offer {
    display: flex;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 30px;

}
.deal {
    color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;


}
.img2{
    margin-left: 300px;
}
.offer-text {
    max-width: 500px;
    text-align: center;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 150px;
}
.insta {
    color: #272727;
font-family: Lato;
font-size: 50px;
font-style: normal;
text-align: center;
}
.social {
    text-align: center;
}
.text3 {
    display: flex;
width: 594px;
flex-direction: column;
flex-shrink: 0;
color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
margin-left: 450px;
}
.flw {
    width: 250px;
height: 300px;
}
.flowers2 {
    margin-left: 200px;
}
.fl2 {
    margin-left: 20px;
}
.fl3 {
    margin-left: 20px;
}
.fl4 {
    margin-left: 20px;
}
.background {
    background-image: url('./Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 1300px;
height: 500px;
flex-shrink: 0;
margin-left: 110px;
}
.input {
    margin-top: 150px;
    margin-left: 170px;
    
}
.email {
    width: 700px;
height: 55px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
}
.cap {
    color: #272727;
margin-left: 470px;
margin-bottom: 50px;
font-family: Lato;
font-size: 40px;
padding-top: 50px;
}
.text4 {
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.foot {
    background: #111010;
height: 449px;
flex-shrink: 0;
background-attachment: fixed;
}
.foot-head {
    color: #E55473;
font-family: Lato;
font-size: 48px;
margin-left: 600px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-top: 120px;
}
.text5 {
    display: flex;
    color: #FFF;
text-align: center;
margin-left: 500px;
font-family: Lato;
font-size: 18px;
align-items: center;
}
.text6 {
    color: rgba(255, 255, 255, 0.40);
text-align: center;
margin-right: 40px;
font-family: Lato;
font-size: 16px;
}
.bonus {
    background-image: url('./pexels-pixabay-414660.jpg');
    background-repeat: no-repeat;
    height: 400px;
}
.bonus-head {
    color: ivory;
    font-family: Lato;
font-size: 48px;
margin-left: 500px;
padding-top: 100px;
}
.bonus-button {
   margin-left: 700px;
}